@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');

body{
    font-family: 'Original Surfer', cursive;
} 

.container{
    margin: auto; 
    padding-left: 1rem;
    padding-right: 1 rem; 
    width: 600px;
}

 